.register {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  &__error {
    color: #d31;
    margin-bottom: 10px;
  }
  &__title {
    font-size: 32px;
    margin-bottom: 30px;
    margin-top: 80px;
  }

  &__form {
    width: 30%;
    padding: 20px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    &__button {
      width: 100%;
      border-radius: 8px;
    }
  }

  &__link {
    a {
      color: #23bebe;
    }
  }
}

.register__success {
  color: green;
  margin-bottom: 1em;
}
