.login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  &__error {
    color: #d31;
    margin-bottom: 10px;
  }
  &__title {
    font-size: 32px;
    margin-bottom: 20px;
  }

  &__form {
    border-radius: 7px;
    width: 30%;
    padding: 20px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    &__button {
      width: 100%;
    }
    &__divider {
      margin-top: 15px;
      margin-bottom: 15px;
    }
    &__other {
      width: 100%;
      &__button {
        width: 100%;
        border-radius: 7px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        i {
          font-size: 20px;
        }
      }
    }
  }

  &__link {
    a {
      color: #23bebe;
    }
  }
}
