.users {
  &__table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    border: 1px solid #ddd;
    margin-top: 40px;
    th,
    td {
      text-align: left;
      padding: 8px;
    }
    thead {
      tr {
        background-color: #f2f2f2;
      }
    }
    tr:nth-child(even) {
      background-color: #f2f2f2;
    }
    &__actions {
      display: flex;
      gap: 10px;
    }
  }
}
