.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 80px;
    background-color: #000;
    color: #fff;
    position: fixed;
    padding: 20px;
    &__button {
        background-color: #fff;
        border: none;
        padding: 12px 16px;
        color: #000;
        border-radius: 7px;
    }
}